
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
    margin-left:0px;
  }
  
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .login-modal-header {
    border-bottom: none;
    padding: 15px 15px 0 15px;
    background-image: url("/images/login-img.jpg");
    height: 208px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:white;
    position: relative;  
}

.login-modal-text {
    position:absolute;
    bottom:0;
    right:0;
    margin-right:10px;
}

.weather-info {
  text-align:center;
  color:white;
  
  font-size: 12px;
}

.weather-caption {
  text-align: center;
  color:white;
  
  font-size: 12px;
}

.navbar-css {
  background-color: #373737;
}

.weather-img {
  
  height:50px;
  width:60px;
}

.weather-img-cont {
 text-align: center;
}

.weather-container {
  position: relative;
  margin-left: 10%;
  

}