.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #234d20;
  margin-bottom:5%;
  
}

.activeContainer {
  
 
 
}

.activeItem {
  
  
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}