.day-list{
    height: 350px;
    width:100%;
    overflow: scroll;
    color:#234d20;
}
.day-list-header{
    color:#234d20;
}

.day-list-icon {
    height:35px;
    width:40px;
}

.day-list-quantity {
    width: 1rem;
}