.day-list {
  height: 40vh;
  width: 100%;
  overflow-y: scroll;
  color: #234d20;
}
.day-list-header {
  color: white;
 
}

.day-list-icon {
  height: 35px;
  width: 40px;
}

.day-list-quantity {
  width: 1rem;
}

.day-list-cat-color {
  display: inline-block;

  width: 40px;
  height: 10px;
  background-color: green;
}

.day-list-cat-cell {
  text-align: center;
  width: 40px;
  height: 10px;
}

.food {
  display: inline-block;
  background-color: #234d20;
  width: 40px;
  height: 10px;
}

.green_action {
  display: inline-block;
  background-color: #36802d;
  width: 40px;
  height: 10px;
}

.lifestyle {
  display: inline-block;
  background-color: #77ab59;
  width: 40px;
  height: 10px;
}

.recycle {
  display: inline-block;
  background-color: #c9df8a;
  width: 40px;
  height: 10px;
}

.transportation {
  display: inline-block;
  background-color: #f0f7da;
  width: 40px;
  height: 10px;
}

table.day-list {
  position: relative;
}

.day-list th {
  background: #36802d;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
